<configuration scan="true">
  <appender name="nop" class="ch.qos.logback.core.helpers.NOPAppender"/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{ISO8601} %-20([%thread]) %-5level %-30logger{30}  %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="repl" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-32([%green(%thread)]) %highlight(%-5level) %cyan(%-30logger{30})  %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${logback-level-root:-WARN}">
    <appender-ref ref="${logback-appender:-stdout}"/>
  </root>

  <logger name="solanum" level="${logback-level-solanum:-INFO}"/>
</configuration>
